body {
    background-color: #1F2937;
    font-family: 'roboto', sans-serif;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 24px;
    flex-flow: column wrap;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;

}

.headerlink {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-left: 0;
}

.headerlogo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-right: 0;
}

.hero {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;

}

.lefthero {
    max-width: 400px;
    margin-right: 16px;
}

.righthero img{
    height: auto;
    width: 400px;
}

.heromaintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.herosecondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.signup1 {
    background-color: #3882f6;
    border-radius: 4px;
    padding: 4px 16px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;

}

.infosection {
    background-color:#F9FAF8;
    border-radius: 8px;
    margin: 0;
    padding: 16px;
}
.info {
    display: flex;
    justify-content: center;
    text-align: center;

}

.info img{
    height: auto;
    width: 150px;
    border-radius: 8px;
}

.infotitle {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}
.infobody {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 16px;
    max-width: 150px;
    padding: 8px;
    margin-bottom: 36px;
}

.quote {
    background-color: #e5e7eb;
    border-radius: 8px;
    display: flex;
    margin-top: 16px;
    padding: 36px;
    flex-flow: column wrap;
    align-items: center;
}

.quotemain {
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    max-width: 600px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
   
}

.quoteauthor {
    font-weight: bold;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calltoaction {
    background-color:#3882f6;
    color:#F9FAF8;
    border-radius: 8px;
    margin: 32px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
}

.callcontainer {
    

}

.callbold {
    font-weight: bold;
}

.callbody {
    color:#e5e7eb;
    font-weight: lighter;
}

.signup2{
    background-color: #3882f6;
    color:#F9FAF8;
    font-weight: 600;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 4px;
    width: 80px;
    height: 20px;
    margin: 8px;
}

.footer {
    color:#e5e7eb;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.left, .right{
    display: flex;
    justify-content: center;
}